<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        /* Preloader */

        .preloader{
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        }

        .pl-svg {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
                transform: translate(-50%, -50%) rotate(45deg) scale(1);
        }

        .stroke-still {
        stroke: #e0e0e0;
        }

        .stroke-animation {
        -webkit-animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
                animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-delay: 0;
                animation-delay: 0;
        -webkit-animation-direction: normal;
                animation-direction: normal;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-play-state: running;
                animation-play-state: running;
        -webkit-transform-origin: center center;
                transform-origin: center center;
        }

        @-webkit-keyframes stroke-spacing {
        0% {
            stroke-dasharray: 0 200;
        }
        45% {
            stroke-dashoffset: 0;
            stroke-dasharray: 200 200;
        }
        90% {
            stroke-dashoffset: -200;
            stroke-dasharray: 200 200;
        }
        100% {
            stroke-dashoffset: -200;
            stroke-dasharray: 200 200;
        }
        }

        @keyframes stroke-spacing {
        0% {
            stroke-dasharray: 0 200;
        }
        45% {
            stroke-dashoffset: 0;
            stroke-dasharray: 200 200;
        }
        90% {
            stroke-dashoffset: -200;
            stroke-dasharray: 200 200;
        }
        100% {
            stroke-dashoffset: -200;
            stroke-dasharray: 200 200;
        }
        }

        @-webkit-keyframes stroke-color {
        0%  { stroke: #3b98ff; }
        99% { stroke: #3b98ff; }
        }

        @keyframes stroke-color {
        0%  { stroke: #3b98ff; }
        99% { stroke: #3b98ff; }
        }

        /* Preloader */
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../src/scripts/google-profile.js"></script>
</head>

<body>
    <center>
        <!-- <h1>Loading Feed :</h1> -->
        <!-- Preloader -->
        <div class="preloader">
            <svg class="pl-svg" width="200" height="200" viewBox="0 0 100 100">
            <polyline class="line-cornered stroke-still" points="0,0 100,0 100,100" stroke-width="10" fill="none"></polyline>
            <polyline class="line-cornered stroke-still" points="0,0 0,100 100,100" stroke-width="10" fill="none"></polyline>
            <polyline class="line-cornered stroke-animation" points="0,0 100,0 100,100" stroke-width="10" fill="none">
            </polyline>
            <polyline class="line-cornered stroke-animation" points="0,0 0,100 100,100" stroke-width="10" fill="none">
            </polyline>
            </svg>
        </div>
    </center>
    
    <% var dname=user.displayName; %>

        <% var dId=user.id; %>
            <% var dEmail=user._json.email %>
            <% var dPicture=user._json.picture %>
                <center>
                    <!-- <h3>
                        <%= dname %>
                    </h3>
                    <h4>
                        <%= dEmail %>
                    </h4> -->
                </center>
                <script>
                    let backendbaseurl = "https://www.backend.zecide.com";

                    var getName = '<%= dname;  %>';
                    console.log(getName)
                    localStorage.setItem('usernam', getName)
                    var getId = '<%= dId  %>';
                    console.log(getId)
                    localStorage.setItem('pass', getId)
                    var getEmail = '<%= dEmail; %>';
                    console.log(getEmail)
                    localStorage.setItem('email', getEmail)
                    var getPicture = '<%= dPicture; %>';
                    console.log(getPicture)
                    localStorage.setItem('picture', getPicture)
                    var newUserRegistration = 0;



                    //logi in mehtod
                    if (newUserRegistration == 0) {
                        var formData2 = new FormData();
                        // var infoObject = { 'UserName': getName,'password':getId };
                        // var info = JSON.stringify(infoObject);
                        formData2.append("name", getName);
                        formData2.append("email", getEmail);
                        formData2.append("picture", getPicture);
                        // formData2.append('password', getId)
                        // let _data = { 'UserName': getName,'password':getId }
                        // var abd = new URLSearchParams(new FormData(_data))
                        // console.log(abd)

                        var stat;
                        fetch(backendbaseurl + "/users/loginGoogle", {
                            method: 'POST',
                            body: new URLSearchParams(formData2)
                        }).then((resp) => {
                            stat = resp.status;
                            console.log(stat)
                            return resp.json();
                        }).then((body) => {
                            if (!body) {
                                console.log('error encoun')
                            }
                            console.log(body);
                            console.log(body.Name);
                            console.log(body.Email);
                            console.log(body._id);
                            console.log(body.token);
                            console.log(body.imgUrl);
                            // setCookie("UserName", body.UserName);
                            // setCookie("UserID", body._id);
                            // setCookie("token", body.token);
                            localStorage.setItem('jwttoken', body.token);
                            localStorage.setItem('usernam', body.Name);
                            localStorage.setItem('useremail', body.Email);
                            localStorage.setItem('userid', body._id);
                            localStorage.setItem('userpicture', body.imgUrl);
                            var authToken = localStorage.getItem('jwttoken');
                            var bodytoken = body.token;
                            console.log(bodytoken)
                            newUserRegistration = 1;
                            console.log(newUserRegistration)

                            var formData = new FormData();
                            var infoObject = { "bodytoken": bodytoken };
                            var info = JSON.stringify(infoObject);
                            formData.append("user", info);






                            if (stat == 200) {

                                console.log(stat)
                                fetch('/login-post', {
                                    method: 'POST',
                                    body: formData
                                }).then(res => {
                                    console.log('user logged in')
                                    window.location = /user-feed/;




                                })


                            }
                            else {
                                console.log("110 error")
                                // registerNewUser();
                                console.log(newUserRegistration)

                                function registerNewUser() {

                                    var formData1 = new FormData();
                                    var email = getEmail;

                                    var username = getName;
                                    var password = getId;
                                    var registrationtoken = "abcdef";

                                    //to append registration token
                                    var stat;
                                    var infoObject = { "UserName": username, "Email": email, "password": password, "registrationToken": registrationtoken };
                                    var info = JSON.stringify(infoObject);
                                    formData1.append("user", info);
                                    fetch(backendbaseurl + '/Users', {
                                        method: 'POST',
                                        body: formData1
                                    }).then(function (response) {
                                        stat = response.status;
                                        return response.json();
                                    }).then(function (text) {
                                        console.log(text.user.UserName);
                                        console.log(text.user._id);
                                        console.log(text.user.token);
                                        // setCookie("UserName", text.user.UserName);
                                        // setCookie("UserID", text.user._id);
                                        // setCookie("token", text.user.token);


                                        //uncomment the above code 



                                        // var usc = getCookie("UserName");
                                        // var uic = getCookie("UserID");
                                        // var tc = getCookie("token");

                                        // console.log(usc);
                                        // console.log(uic);
                                        // console.log(tc);

                                        if (stat == 200) {
                                            console.log('new user registered')

                                            // window.location.pathname = '/google-profile';
                                            location.reload();

                                        }
                                        else {
                                            alert('An error occured!')
                                        }
                                    }).catch(function (error) {
                                        console.error(error);
                                    })
                                }
                                registerNewUser();





                            }


                        }).catch((error) => {
                            console.log('user not found')
                            console.log(newUserRegistration)
                            console.error(error);



                        });
                    }
                    else {

                    }







                </script>


</body>

</html>